<div class="bg-secondary text-white btn w-100 mt-1 mb-1">Colors</div>

<div class="selected">
  <mat-form-field appearance="fill">
    <mat-label>Select a Color</mat-label>

    <mat-select [(value)]="selected">
      <mat-option routerLink="/cardetails"
      [class]="getAllColorClass()"
      (click) = "clearCurrentColor()" value="Hepsi">Hepsi</mat-option>
      <mat-option *ngFor="let color of colors"
      routerLink="/cardetails/color/{{color.id}}"
      [class]="getCurrentColorClass(color)"
      (click) = 'setCurrentColor(color)' value="option1">{{color.colorName}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
